<button  routerLink="/createSurvey" routerLinkActive="active">Surveys</button>

<div class="center">
    <table class="table table-trapped">
        <thead>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>lecturer</th>
            <th>subject</th>
            <!-- <th>answers</th> -->
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let survey of surveys">
                <td>{{survey.idSurveys }} </td>
                <td>{{survey.date}}</td>
                <td>{{survey.lecturerDTO.name}}</td>
                <td>{{survey.subjectDTO.name}}</td>
                <!-- <td>{{survey.answerDTOS}}</td> -->
            </tr>
        </tbody>
    </table>
</div>